:root{
    --background: #101114;
    --primary-color: #1c1D20;
    --second-primary-color: #4A4D57;
    --accent-color:#00FFC4;
    --text-color: #F9F9F9;
}
* {
    margin: 0;
    padding: 0;
}
.html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: 16pt;
    color: var(--text-color);
}
.body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}